  body {
    font-family: sans-serif;
    scroll-behavior: smooth;
       margin:0; 
    background: #f6f6f6;
}
#topnav {
    padding: 1px 0 1px 30px;
    background: #222;
    color: #58595b;
    position: sticky;
    margin-left: auto;
    top: 0;
    margin-right: auto;
}
    #topnav ul {
      text-align:right;
    margin: 10px 3%;
}
     #topnav ul li {
     display:inline-block;
     }
     #topnav a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
           padding: 14px;
}
     #topnav i {
    font-size: 18px;
    vertical-align: bottom;
    padding: 0 10px;
}
     #topnav a:hover {
    background: #333333;
    color: #ebaa20;
}
#content {
    min-height: 60vh;
   
    padding: 20px 2%;
    max-width: 65%;
    width: 100%;
    margin: 25px auto;
    border-radius: 0 0 30px 5px;
}
#footer {
    /* min-height: 7vh; */
    margin: 0;
    background: linear-gradient( 
166deg
 , rgba(51,54,56,1) 59%, rgba(56,59,62,1) 59%);
    position: relative;
    bottom: 0px;
    padding: 3rem 4%;
    text-align: center;
    font-size: 15px;
    margin-top: 6rem;
    color: #fff;
}
